HTML {
  bavkground: (209, 63, 104);
}
    
body{
  background: rgb(255,250,250);
 
}

/*
table {
  color:blue
backgound:green
} 
*/
      h2 {color:darkred} 
  
img[src*="/image/]{
border: 10px solid black;
}
script{
  center;
} 
#title {
  color: #ffc400 rgb(255, 191, 0) ;
}
.subtitle {
  color: rgb(255, 238, 0);
}

#service-image {
  height:600px;
  width: 90%;
  background:linear-gradient(to center, green, blue);
  background-size: cover;
}


.link{
  text-decoration: none;
}

/* text-transform:uppercase;
text-align: center;
text-align: justify;
*/

  
